<html>
{{#each foo}}
{{this}}
{{/each}}
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="./public/index.html"><b><u>DataGorge</u></b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNBAnavbar" aria-controls="myNBAnavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNBAnavbar">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/players"><b>Players</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teams"><b>Teams </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/gamestats"><b>Statistics </b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/games"><b>Games</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/positions"><b>Positions </b></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/players_positions"><b>Players_Positions <span class="sr-only">(current)</span></b></a>
            </li>
        </ul>
    </div>
</nav>
<h3>Add new team:</h3>
<form id="addgame" action="/games" method="post">
    Date: <input type="date" name="date"><br>
    Location: <input type="text" name="location"><br>
    Team 1 Points: <input type="number" name="team1Points"><br>
    Team 2 Points: <input type="number" name="team2Points"><br>
    Team 1 ID: <input type="number" name="team1ID"><br>
    Team 2 ID: <input type="number" name="team2ID"><br>
    <br><br><br>
    <input type="submit" value="Submit">
</form>
<br/>

<h3>Current Players - Positions:</h3>
<table>
    <thead>
    <th>Player ID</th>
    <th>Position ID</th>
    </thead>
    <tbody>
    {{#each players_positions}}
        <tr>
            <td>{{plID}}</td>
            <td>{{poID}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</html>
